In [ ]:
import timesfm

TimesFM v1.2.0. See https://github.com/google-research/timesfm/blob/master/README.md for updated APIs.
Loaded Jax TimesFM.
Loaded PyTorch TimesFM.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data/INTC_1H.csv')

In [8]:
df.head()

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
3483,2025-03-26 10:30:00-04:00,23.535000,23.670000,23.290001,23.325001,10374103,0.0,0.0
3484,2025-03-26 11:30:00-04:00,23.325001,23.459000,23.270000,23.440001,5476925,0.0,0.0
3485,2025-03-26 12:30:00-04:00,23.440001,23.565001,23.340000,23.405001,4975732,0.0,0.0
3486,2025-03-26 13:30:00-04:00,23.400000,23.469999,23.340000,23.343100,3805082,0.0,0.0
3487,2025-03-26 14:30:00-04:00,23.344999,23.379999,23.280001,23.300100,2121655,0.0,0.0